*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
@import url('https://fonts.googleapis.com/css2? family= Puppies+Play & display=swap');
.navbar {
    background-color: rgb(102, 165, 158, 100%);
    color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
}
.primary-icon{
    padding-top: 5px;
    height: 70px;
}
.nav-list {
    list-style-type: none;
}
.nav-list .list-item {
    display: inline-block;
    padding: 20px 10px;
}
.navbar a{
    color: black;
    text-decoration: none;
}
.navbar a:hover{
    color: orangered;
}
.menu{
    display: none;
}
.menu-line{
    width: 20px;
    height: 3px;
    background-color: white;
    margin-bottom: 4px;
}
.titre1{
    padding: 10px 0;
    text-align: center;
}
.pupilles{
    color: rgb(102, 165, 158, 100%);
    font-size: 2.5rem;
    font-weight: bold;
    text-transform: uppercase;
}
.papilles{
    font-size: 3.125rem;
    color: rgb(162, 134, 94, 100%);
    font-family: "Puppies Play";
}
.blog{
    font-size: 1.5rem;
}
@media all and (max-width: 630px) {
    .navbar{
        flex-direction: column;
    }
    .menu-line:hover{
        display: block;
    }
    .menu{
        display: block;
        position: absolute;
        right: 15px;
        top: 15px;
    }
    .nav-list{
        list-style-type: none;
        width: 100%;
        text-align: center;
        padding-top: 10px;
        display: none;
    }
    .nav-list .list-item{
        display: block;
        border-top: 1px solid white;
    }
    .primary-icon{
        margin-top: 10px;
        margin-left: 10px;
    }
    .active{
        display: block;
    }
}